@font-face{
	font-family: 'Lato Regular';
	src:url('../fonts/Lato-Regular.eot');
	src:url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.svg') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face{
	font-family: 'Lato Light';
	src:url('../fonts/Lato-Light.eot');
	src:url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Light.woff') format('woff'),
		url('../fonts/Lato-Light.ttf') format('truetype'),
		url('../fonts/Lato-Light.svg') format('svg');
	font-style: normal;
	font-weight: 300;
}
*:focus, *:active {
	outline: none !important;
}
*::-moz-focus-inner {
	border: 0 !important;
}
body {
	font-family: 'Lato Regular', sans-serif;
	background-color: #f9f9f9;
}
.btn {
	padding: 6px 13px;
	border-radius: 3px;
	border-width: 0;
	border-bottom-width: 2px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.btn:hover, .btn:focus {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.form-control {
	box-shadow: none;
	-webkit-appearance: none;
}
.message-container {
	margin-top: 15px;
}
.alert {
	margin-bottom: 0px;
}
.box-container {
	border-radius: 4px;
	margin-top: 15px;
}
.box-header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	color: #fff;
	border: 1px solid transparent;
	border-bottom: 0;
	padding: 20px;
}
.box-login > .box-header {
	background-color: #206ecf;
	border-color:  #1b5eb1;
}
.box-banner > .box-header {
	background-color: #cf1f1f;
	border-color: #b11b1b;
}
.box-header > h1 {
	font-size: 22px;
	margin-bottom: 5px;
	margin-top: 0;
}
.box-header > h2 {
	font-family: 'Lato Light', sans-serif;
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 5px;
}
.box-body {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #DDD;
	border-top: none;
}
.box-body > p {
	text-align: center;
	margin-bottom: 20px;
}
.checkbox {
	margin: 7px 0px;
}
@media (min-width: 768px) {
	.col-sm-fix {
		margin: 0 auto;
		width: 468px;
		float: none;
	}
}